<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131246157838-jiutknojo5m09ab1q815d2clqopnkg2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131246157838-jiutknojo5m09ab1q815d2clqopnkg2q</string>
	<key>API_KEY</key>
	<string>AIzaSyCq6P5bYxJc-22i3SMlkG2zHvbrpUOlp2E</string>
	<key>GCM_SENDER_ID</key>
	<string>131246157838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firoseit.three65days</string>
	<key>PROJECT_ID</key>
	<string>three65days-841a3</string>
	<key>STORAGE_BUCKET</key>
	<string>three65days-841a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131246157838:ios:63a8f7c42d1143a50b4c5f</string>
</dict>
</plist>